.wrapper {
  background-color: #242833;
  min-height: 200px;
  width: 50%;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-top: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  color: #fff;
  font-size: 1.2rem;
  text-align: center; 
  margin-bottom: 20px;
  font-style: italic;
}

.pot {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  flex: 1;
}
.potData {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 16px;
}

.potData img {
  border-radius: 5px;
}

.potName {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.potDesc {
  text-align: left;
  font-size: .8rem;
  color: #fff;
  margin-bottom: 20px;
}

.btn {
  place-self: center;
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.btn button, .btn input[type='button'], .btn input[type='submit'] {
  padding: 15px 32px;
  background-color: #1e2128;
  color: #f45358;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1.5rem;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 1px solid #f45358;
}

.btn input[type='submit'] {
  padding: 12px 28px;
  font-size: 1.2rem;
}

.recentWinnerTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.winner {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  color: #f45358;
}

.textAccent {
  color: #f45358;
}

.drawWinnerBtn {
  background-color: #242833;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
  border: 1px solid #f2505e;
  border-radius: 1.2rem;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
  color: #f2505e;
}
